TUGAS BESAR AI : ALGORITMA GENETIK
(1301204125) Ryan Chandra Hadi
(1301200240) Ramadhan Aditya Ibrahim

In [20]:
import numpy as np
import pandas as pd
import math

In [21]:
# minimum dan maksimum value yang ada di dalam fungsi
min = -5
max = 5

# menyatakan banyaknya variabel, panjang dari kromosom itu sendiri (x,y)
m = 2

# menyatakan banyaknya populasi 
n = 100

# pc = 1
# pm = interval -0.1 s.d 0.1

# maksimum generasi
N = 20

In [22]:
def createPopulations(): # fungsi ini dibuat untuk meng-generate populasi
    populasi = np.random.rand(n, m)*(max - min)+ min
    pop = pd.DataFrame(populasi)
    pop.columns = ['x', 'y']
    
    return pop

![minimasi.png]()

In [23]:
def fitness(pop): 
    h = (np.cos(pop['x']) + np.sin(pop['y']))**2 / ((pop['x'])**2 + (pop['y'])**2) # rumus untuk mencari nilai h(x, y)
    fitness = 1 / h + 1
    pop['Fitness'] = fitness
    pop['Nilai Fungsi'] = h
    
    return pop

In [24]:
def randomSelection(): # fungsi untuk meng-generate indeks random 
    position = np.random.permutation(n)
    
    return position[0], position[1]

In [25]:
def crossover(pop): # fungsi ini untuk melakukan pindah silang yang sudah 
                    # dilakukan seleksi orang tua dengan menggunakan metode fungsi randomSelection
    popCrossover = pop.copy()
    for i in range(n):
        a, b = randomSelection()
        x = (pop.loc[a] + pop.loc[b])/2
        popCrossover.loc[i] = x
        
    return popCrossover

In [26]:
def mutasi(popCrossover): # fungsi ini kita pakai untuk membuat mutasi pada populasi 
                          # yang telah kita lakukan crossover
    popMutasi = popCrossover.copy()

    for i in range(n):
        for j in popMutasi.columns:
            popMutasi.loc[i][j] += np.random.uniform(low=-0.1, high=0.1)

    return popMutasi

In [27]:
def combinePop(pop, popCrossover, popMutasi): # Menggabungkan nilai populasi awal,
                                              # setelah crossover dan setelah mutasi
    popAll = pop.copy()
    popAll = popAll.append(popCrossover)
    popAll = popAll.append(popMutasi)

    popAll.index = range(len(popAll))
    
    return popAll

In [28]:
def sort(popAll): # mengurutkan nilai values berdasarkan fitness secara descending
    popAll = popAll.sort_values(by=['Fitness'], ascending = False)
    popAll.index = range(len(popAll))

    return popAll

In [29]:
def eliminasi(popAll):  # setelah kita lakukan sort, kita lakukan eliminasi sebanyak n = 100
    pop = popAll.head(n)
    
    return pop

In [30]:
pop = createPopulations()
pop

           x         y
0  -4.775237 -0.301388
1  -2.487968 -0.389198
2   1.852350 -2.021725
3  -2.392839 -1.880617
4  -0.230443 -3.330279
..       ...       ...
95  0.165339  2.615354
96 -0.463696 -0.154004
97 -1.645977 -0.698770
98 -1.201781  3.453103
99 -3.450558 -2.360258

[100 rows x 2 columns]

In [31]:
pop = fitness(pop)
pop

           x         y      Fitness  Nilai Fungsi
0  -4.775237 -0.301388   418.964429      0.002393
1  -2.487968 -0.389198     5.606253      0.217096
2   1.852350 -2.021725     6.419072      0.184533
3  -2.392839 -1.880617     4.262584      0.306505
4  -0.230443 -3.330279     9.265534      0.120984
..       ...       ...          ...           ...
95  0.165339  2.615354     4.098916      0.322693
96 -0.463696 -0.154004     1.434772      2.300057
97 -1.645977 -0.698770     7.195797      0.161400
98 -1.201781  3.453103  4551.561394      0.000220
99 -3.450558 -2.360258     7.366355      0.157076

[100 rows x 4 columns]

In [32]:
popCrossover = crossover(pop)
print(popCrossover)

           x         y        Fitness  Nilai Fungsi
0  -2.252258  0.629726       9.433835      0.210027
1  -0.013822 -1.770872      10.027830      0.177380
2  -0.075666  1.008051      52.651486      0.148050
3  -0.486969 -1.574159       5.056598      0.277856
4  -3.918028  0.696141  334361.982085      0.001197
..       ...       ...            ...           ...
95  1.532305 -0.295216       2.711577      4.761698
96  2.917693 -0.554337    1018.975564      0.031911
97  1.289058  0.277263    1410.657440      0.015213
98 -1.900769  1.615544      45.853223      4.616436
99  1.611126  0.344210       4.295586      0.304521

[100 rows x 4 columns]

In [33]:
popCrossover = fitness(popCrossover)
popCrossover

           x         y      Fitness  Nilai Fungsi
0  -2.252258  0.629726  3253.580612      0.000307
1  -0.013822 -1.770872  7958.059609      0.000126
2  -0.075666  1.008051     1.300875      3.323637
3  -0.486969 -1.574159   201.947995      0.004976
4  -3.918028  0.696141  3042.637464      0.000329
..       ...       ...          ...           ...
95  1.532305 -0.295216    39.204887      0.026175
96  2.917693 -0.554337     4.912695      0.255578
97  1.289058  0.277263     6.710873      0.175105
98 -1.900769  1.615544    14.658674      0.073214
99  1.611126  0.344210    31.742300      0.032528

[100 rows x 4 columns]

In [34]:
popMutasi = mutasi(popCrossover)

popMutasi

           x         y      Fitness  Nilai Fungsi
0  -2.177107  0.644991  3253.525133      0.006500
1  -0.106606 -1.700822  7958.099759     -0.010430
2  -0.159545  1.067721     1.234536      3.371348
3  -0.494062 -1.601706   202.039611      0.036870
4  -3.959732  0.706694  3042.547742     -0.002221
..       ...       ...          ...           ...
95  1.617941 -0.312845    39.289969      0.093195
96  2.944365 -0.596510     4.905990      0.195307
97  1.310742  0.251821     6.795522      0.078226
98 -1.885862  1.609117    14.592242      0.067049
99  1.648908  0.409259    31.835110      0.049087

[100 rows x 4 columns]

In [35]:
popMutasi = fitness(popMutasi)

popMutasi

           x         y        Fitness  Nilai Fungsi
0  -2.177107  0.644991    5246.490153      0.000191
1  -0.106606 -1.700822  380043.132730      0.000003
2  -0.159545  1.067721       1.335654      2.979256
3  -0.494062 -1.601706     199.039663      0.005049
4  -3.959732  0.706694   13787.537549      0.000073
..       ...       ...            ...           ...
95  1.617941 -0.312845      22.561028      0.046380
96  2.944365 -0.596510       4.793797      0.263588
97  1.310742  0.251821       7.949576      0.143894
98 -1.885862  1.609117      13.931442      0.077331
99  1.648908  0.409259      29.205502      0.035454

[100 rows x 4 columns]

In [36]:
popAll = combinePop(pop, popCrossover, popMutasi)
popAll

            x         y     Fitness  Nilai Fungsi
0   -4.775237 -0.301388  418.964429      0.002393
1   -2.487968 -0.389198    5.606253      0.217096
2    1.852350 -2.021725    6.419072      0.184533
3   -2.392839 -1.880617    4.262584      0.306505
4   -0.230443 -3.330279    9.265534      0.120984
..        ...       ...         ...           ...
295  1.617941 -0.312845   22.561028      0.046380
296  2.944365 -0.596510    4.793797      0.263588
297  1.310742  0.251821    7.949576      0.143894
298 -1.885862  1.609117   13.931442      0.077331
299  1.648908  0.409259   29.205502      0.035454

[300 rows x 4 columns]

In [37]:
popAll = sort(popAll)
popAll

            x         y       Fitness  Nilai Fungsi
0    3.051415 -4.770272  5.620881e+06  1.779081e-07
1    0.141526 -1.705274  3.113899e+06  3.211408e-07
2   -2.580889 -4.143216  1.158808e+06  8.629561e-07
3    0.185413 -1.766776  7.866897e+05  1.271151e-06
4    3.239590  1.607379  7.671896e+05  1.303460e-06
..        ...       ...           ...           ...
295 -0.209028 -0.229000  1.170346e+00  5.870407e+00
296  0.329183  0.090731  1.108440e+00  9.221711e+00
297 -0.186637 -0.173770  1.099180e+00  1.008268e+01
298  0.091095  0.136488  1.021017e+00  4.758149e+01
299  0.095152  0.126814  1.019968e+00  5.007928e+01

[300 rows x 4 columns]

In [38]:
pop = createPopulations()
pop = fitness(pop)
print("Generasi Pertama")
print(pop)

for i in range(N):
    popCrossover = crossover(pop)
    popCrossover = fitness(popCrossover)
    
    popMutasi = mutasi(popCrossover)
    popMutasi = fitness(popMutasi)
    
    popAll = combinePop(pop, popCrossover, popMutasi)
    
    popAll = sort(popAll)
    pop = eliminasi(popAll)
    print()
    print(i)
    print(pop)

print()
print("Generasi Terakhir")
print(pop)

Generasi Pertama
           x         y        Fitness  Nilai Fungsi
0  -3.820533 -1.240377       6.427770      0.184238
1   2.966472  0.305585      20.016787      0.052585
2  -2.717241 -4.500255    6292.186777      0.000159
3   0.976282 -2.677986     638.080560      0.001570
4  -3.104537  1.680225  444475.533473      0.000002
..       ...       ...            ...           ...
95  0.613434  1.556526       1.847286      1.180240
96  2.160072  0.482548     583.297605      0.001717
97  2.779431 -1.459583       3.648741      0.377538
98  1.977014  1.888070      25.266503      0.041209
99  1.293933  4.703698      46.075651      0.022185

[100 rows x 4 columns]

0
           x         y       Fitness  Nilai Fungsi
0  -2.727299  1.157157  1.266023e+08  7.898750e-09
1  -0.204028 -1.370709  3.070270e+06  3.257043e-07
2  -0.109211 -1.666417  1.444563e+06  6.922512e-07
3  -3.104537  1.680225  4.444755e+05  2.249848e-06
4  -0.126059 -1.730360  1.323881e+05  7.553604e-06
..       ...       ...           ...           ...
95 -4.216707 -0.115660  5.193868e+01  1.963145e-02
96 -0.714294  3.407377  5.089067e+01  2.004383e-02
97 -4.235784 -0.172723  4.618961e+01  2.212898e-02
98  1.293933  4.703698  4.607565e+01  2.218493e-02
99 -3.881286  0.156507  4.542307e+01  2.251083e-02

[100 rows x 4 columns]

1
           x         y       Fitness  Nilai Fungsi
0  -2.727299  1.157157  1.266023e+08  7.898750e-09
1  -0.204028 -1.370709  3.070270e+06  3.257043e-07
2  -1.301103 -0.270741  1.730709e+06  5.777982e-07
3  -0.109211 -1.666417  1.444563e+06  6.922512e-07
4   0.232272 -1.793916  7.666229e+05  1.304424e-06
..       ...       ...           ...           ...
95 -0.467971 -1.317576  3.428296e+02  2.925435e-03
96  3.305825  0.925796  3.364318e+02  2.981232e-03
97  1.558192 -3.331781  3.337133e+02  3.005591e-03
98  1.505910 -3.275686  3.307671e+02  3.032443e-03
99 -2.271567  2.181606  3.272182e+02  3.065433e-03

[100 rows x 4 columns]

2
           x         y       Fitness  Nilai Fungsi
0  -2.727299  1.157157  1.266023e+08  7.898750e-09
1  -0.204028 -1.370709  3.070270e+06  3.257043e-07
2  -2.648524  2.059254  2.384186e+06  4.194305e-07
3   2.240575  2.474948  1.840946e+06  5.431993e-07
4  -1.301103 -0.270741  1.730709e+06  5.777982e-07
..       ...       ...           ...           ...
95 -2.707704  1.590161  1.154037e+03  8.672745e-04
96 -0.416390 -1.817920  1.148106e+03  8.717592e-04
97  0.681519  4.272314  1.141570e+03  8.767543e-04
98  0.339616 -1.403128  1.123238e+03  8.910762e-04
99  1.011196 -2.484360  1.122876e+03  8.913641e-04

[100 rows x 4 columns]

3
           x         y       Fitness  Nilai Fungsi
0  -3.165675  1.588759  7.581876e+08  1.318935e-09
1  -2.727299  1.157157  1.266023e+08  7.898750e-09
2   0.018720 -1.602975  2.191185e+07  4.563740e-08
3  -3.136587  1.631253  3.796626e+06  2.633918e-07
4   0.008517 -1.528994  3.334447e+06  2.998999e-07
..       ...       ...           ...           ...
95  0.621734 -2.139138  5.542504e+03  1.804564e-04
96  0.216965 -1.492469  5.478021e+03  1.825810e-04
97 -2.674654  1.206318  5.033748e+03  1.986986e-04
98  0.457109 -1.958396  4.984678e+03  2.006550e-04
99  1.074077 -0.516037  4.976606e+03  2.009806e-04

[100 rows x 4 columns]

4
           x         y       Fitness  Nilai Fungsi
0   0.022094 -1.548728  7.269909e+12  1.375533e-13
1  -3.165675  1.588759  7.581876e+08  1.318935e-09
2  -0.120018 -1.691525  3.942333e+08  2.536569e-09
3  -2.014201  0.443208  1.345529e+08  7.432022e-09
4  -2.727299  1.157157  1.266023e+08  7.898750e-09
..       ...       ...           ...           ...
95 -3.343950  1.653548  4.825372e+04  2.072422e-05
96 -3.867937 -3.948659  4.755887e+04  2.102701e-05
97  0.512578 -2.061614  4.121046e+04  2.426627e-05
98 -0.152401 -1.652994  4.084000e+04  2.448640e-05
99 -0.049659 -1.710414  4.054623e+04  2.466381e-05

[100 rows x 4 columns]

5
           x         y       Fitness  Nilai Fungsi
0   0.022094 -1.548728  7.269909e+12  1.375533e-13
1  -0.058771 -1.629677  6.441303e+10  1.552481e-11
2  -3.165675  1.588759  7.581876e+08  1.318935e-09
3   0.036811 -1.535793  5.607985e+08  1.783172e-09
4  -0.120018 -1.691525  3.942333e+08  2.536569e-09
..       ...       ...           ...           ...
95 -3.104537  1.680225  4.444755e+05  2.249848e-06
96 -0.227245 -1.334669  4.406473e+05  2.269394e-06
97 -0.088779 -1.515707  3.932289e+05  2.543055e-06
98  2.224784  2.494505  3.705326e+05  2.698825e-06
99  2.274213  0.698285  3.679765e+05  2.717572e-06

[100 rows x 4 columns]

6
           x         y       Fitness  Nilai Fungsi
0   0.022094 -1.548728  7.269909e+12  1.375533e-13
1  -0.058771 -1.629677  6.441303e+10  1.552481e-11
2   0.010460 -1.561178  3.417761e+10  2.925892e-11
3   0.002534 -1.575806  2.848168e+10  3.511029e-11
4  -0.010980 -1.582735  2.078072e+10  4.812153e-11
..       ...       ...           ...           ...
95 -1.715199  0.145191  4.873233e+06  2.052026e-07
96  0.038800 -1.579192  4.849046e+06  2.062262e-07
97  0.030756 -1.620094  4.769216e+06  2.096781e-07
98 -0.006101 -1.610061  4.582137e+06  2.182388e-07
99 -0.025895 -1.617672  4.494118e+06  2.225131e-07

[100 rows x 4 columns]

7
           x         y       Fitness  Nilai Fungsi
0  -0.007898 -1.562865  3.690629e+13  2.709566e-14
1   0.022094 -1.548728  7.269909e+12  1.375533e-13
2  -0.002453 -1.570301  2.960412e+11  3.377908e-12
3  -0.040185 -1.530512  1.473090e+11  6.788450e-12
4  -0.003551 -1.572251  8.983148e+10  1.113195e-11
..       ...       ...           ...           ...
95  0.024842 -1.559381  4.106199e+07  2.435342e-08
96  0.061205 -1.636114  3.965756e+07  2.521587e-08
97 -0.026734 -1.556049  3.919381e+07  2.551423e-08
98  0.024148 -1.561929  3.835199e+07  2.607427e-08
99 -0.042857 -1.534212  3.796593e+07  2.633940e-08

[100 rows x 4 columns]

8
           x         y       Fitness  Nilai Fungsi
0  -0.007898 -1.562865  3.690629e+13  2.709566e-14
1   0.022094 -1.548728  7.269909e+12  1.375533e-13
2  -0.001312 -1.568968  3.751972e+12  2.665265e-13
3  -0.002453 -1.570301  2.960412e+11  3.377908e-12
4  -0.006847 -1.578064  2.831185e+11  3.532090e-12
..       ...       ...           ...           ...
95 -0.058397 -1.513883  3.140612e+08  3.184093e-09
96  0.016975 -1.560321  3.059482e+08  3.268527e-09
97 -0.008736 -1.554780  2.977579e+08  3.358433e-09
98  0.012760 -1.589463  2.932830e+08  3.409676e-09
99 -0.008483 -1.586877  2.892563e+08  3.457141e-09

[100 rows x 4 columns]

9
           x         y       Fitness  Nilai Fungsi
0  -0.000585 -1.570658  9.447138e+13  1.058522e-14
1  -0.002416 -1.568282  4.197232e+13  2.382522e-14
2  -0.007898 -1.562865  3.690629e+13  2.709566e-14
3   0.001643 -1.572230  2.390158e+13  4.183823e-14
4   0.011259 -1.582027  2.383329e+13  4.195811e-14
..       ...       ...           ...           ...
95 -0.012322 -1.561863  1.881144e+09  5.315915e-10
96  0.000352 -1.579450  1.784940e+09  5.602431e-10
97 -0.025817 -1.543590  1.757636e+09  5.689460e-10
98 -0.000402 -1.562151  1.755011e+09  5.697969e-10
99 -0.028650 -1.540882  1.735672e+09  5.761457e-10

[100 rows x 4 columns]

10
           x         y       Fitness  Nilai Fungsi
0  -0.000916 -1.569748  1.476866e+14  6.771095e-15
1   0.006892 -1.563923  1.457524e+14  6.860949e-15
2  -0.000585 -1.570658  9.447138e+13  1.058522e-14
3   0.001182 -1.571831  9.283573e+13  1.077171e-14
4  -0.001507 -1.569439  5.407355e+13  1.849333e-14
..       ...       ...           ...           ...
95  0.009337 -1.578608  1.458156e+10  6.857975e-11
96 -0.004392 -1.577540  1.451780e+10  6.888098e-11
97  0.002999 -1.576740  1.433847e+10  6.974244e-11
98 -0.005275 -1.571787  1.370983e+10  7.294035e-11
99  0.011296 -1.558375  1.362227e+10  7.340918e-11

[100 rows x 4 columns]

11
           x         y       Fitness  Nilai Fungsi
0  -0.001181 -1.571922  6.031073e+14  1.658080e-15
1  -0.000916 -1.569748  1.476866e+14  6.771095e-15
2   0.006892 -1.563923  1.457524e+14  6.860949e-15
3   0.001489 -1.569222  1.444706e+14  6.921822e-15
4   0.003662 -1.574502  9.864447e+13  1.013742e-14
..       ...       ...           ...           ...
95  0.003284 -1.571657  9.787848e+10  1.021675e-11
96  0.058707 -1.512006  9.712562e+10  1.029594e-11
97 -0.001648 -1.574414  9.217248e+10  1.084923e-11
98 -0.003444 -1.575518  9.121220e+10  1.096345e-11
99 -0.003551 -1.572251  8.983148e+10  1.113195e-11

[100 rows x 4 columns]

12
           x         y       Fitness  Nilai Fungsi
0   0.000623 -1.571392  8.749328e+15  1.142945e-16
1  -0.000145 -1.570536  4.542607e+15  2.201379e-16
2  -0.003497 -1.567307  3.198149e+15  3.126809e-16
3  -0.000949 -1.569813  2.205606e+15  4.533902e-16
4  -0.001940 -1.568887  7.376087e+14  1.355732e-15
..       ...       ...           ...           ...
95 -0.002654 -1.572752  9.563153e+11  1.045680e-12
96 -0.005629 -1.565475  8.609675e+11  1.161484e-12
97  0.000709 -1.572772  8.566299e+11  1.167365e-12
98  0.002391 -1.569308  8.028182e+11  1.245612e-12
99 -0.004932 -1.575356  7.935629e+11  1.260139e-12

[100 rows x 4 columns]

13
           x         y       Fitness  Nilai Fungsi
0  -0.000045 -1.570753  4.852816e+20  2.060659e-21
1  -0.000226 -1.570581  4.764496e+17  2.098858e-18
2  -0.000092 -1.570936  8.031680e+16  1.245069e-17
3  -0.000163 -1.570602  8.024732e+16  1.246148e-17
4   0.000325 -1.571103  7.361596e+16  1.358401e-17
..       ...       ...           ...           ...
95 -0.001026 -1.570747  8.932926e+12  1.119454e-13
96 -0.001292 -1.570014  8.831332e+12  1.132332e-13
97 -0.000276 -1.571861  8.828359e+12  1.132713e-13
98  0.001101 -1.570408  8.760695e+12  1.141462e-13
99  0.000943 -1.572195  8.691583e+12  1.150538e-13

[100 rows x 4 columns]

14
           x         y       Fitness  Nilai Fungsi
0  -0.000045 -1.570753  4.852816e+20  2.060659e-21
1   0.000076 -1.570714  9.058502e+18  1.103935e-19
2  -0.000064 -1.570849  5.808591e+18  1.721588e-19
3   0.000273 -1.571066  4.311322e+18  2.319474e-19
4   0.000140 -1.570928  1.914216e+18  5.224070e-19
..       ...       ...           ...           ...
95 -0.000685 -1.571138  7.975447e+13  1.253848e-14
96 -0.002224 -1.568653  7.965950e+13  1.255343e-14
97  0.000716 -1.571190  7.718776e+13  1.295542e-14
98 -0.001862 -1.569033  7.714916e+13  1.296190e-14
99  0.001396 -1.572052  7.132140e+13  1.402104e-14

[100 rows x 4 columns]

15
           x         y       Fitness  Nilai Fungsi
0   0.000060 -1.570737  1.299379e+21  7.695986e-22
1  -0.000045 -1.570753  4.852816e+20  2.060659e-21
2   0.000027 -1.570807  2.461050e+19  4.063306e-20
3   0.000076 -1.570714  9.058502e+18  1.103935e-19
4  -0.000064 -1.570849  5.808591e+18  1.721588e-19
..       ...       ...           ...           ...
95 -0.000668 -1.571376  7.995560e+14  1.250694e-15
96 -0.001975 -1.568793  7.793193e+14  1.283171e-15
97 -0.001940 -1.568887  7.376087e+14  1.355732e-15
98 -0.000386 -1.570975  7.195543e+14  1.389749e-15
99  0.000578 -1.571469  7.026049e+14  1.423275e-15

[100 rows x 4 columns]

16
           x         y       Fitness  Nilai Fungsi
0   0.000060 -1.570737  1.299379e+21  7.695986e-22
1  -0.000045 -1.570753  4.852816e+20  2.060659e-21
2   0.000027 -1.570807  2.461050e+19  4.063306e-20
3   0.000155 -1.570954  1.630665e+19  6.132466e-20
4  -0.000043 -1.570768  9.626004e+18  1.038853e-19
..       ...       ...           ...           ...
95  0.000318 -1.571040  5.785002e+15  1.728608e-16
96  0.000471 -1.571221  5.599019e+15  1.786027e-16
97 -0.001116 -1.569661  5.528024e+15  1.808965e-16
98  0.000384 -1.571120  5.385993e+15  1.856668e-16
99 -0.000208 -1.570796  5.235629e+15  1.909990e-16

[100 rows x 4 columns]

17
           x         y       Fitness  Nilai Fungsi
0   0.000060 -1.570737  1.299379e+21  7.695986e-22
1  -0.000045 -1.570753  4.852816e+20  2.060659e-21
2   0.000003 -1.570810  3.001630e+20  3.331523e-21
3   0.000026 -1.570777  1.041181e+20  9.604477e-21
4  -0.000035 -1.570767  5.824276e+19  1.716952e-20
..       ...       ...           ...           ...
95  0.000325 -1.571103  7.361596e+16  1.358401e-17
96  0.000120 -1.570849  7.359464e+16  1.358795e-17
97 -0.000224 -1.570600  7.239369e+16  1.381336e-17
98 -0.001019 -1.569783  7.053713e+16  1.417693e-17
99 -0.000135 -1.570716  7.020991e+16  1.424300e-17

[100 rows x 4 columns]

18
           x         y       Fitness  Nilai Fungsi
0   0.000015 -1.570781  1.398596e+23  7.150027e-24
1  -0.000008 -1.570787  2.365502e+22  4.227433e-23
2  -0.000005 -1.570789  2.159047e+22  4.631673e-23
3  -0.000383 -1.570413  6.276772e+21  1.593176e-22
4  -0.000007 -1.570795  4.626918e+21  2.161266e-22
..       ...       ...           ...           ...
95  0.000006 -1.570866  4.212810e+17  2.373712e-18
96 -0.000343 -1.570461  4.186101e+17  2.388858e-18
97  0.000054 -1.570885  4.065264e+17  2.459865e-18
98  0.000018 -1.570724  4.062367e+17  2.461619e-18
99 -0.000260 -1.570546  4.045016e+17  2.472178e-18

[100 rows x 4 columns]

19
           x         y       Fitness  Nilai Fungsi
0   0.000015 -1.570781  1.398596e+23  7.150027e-24
1  -0.000014 -1.570782  1.036367e+23  9.649091e-24
2   0.000006 -1.570791  1.010781e+23  9.893337e-24
3  -0.000007 -1.570788  5.054426e+22  1.978464e-23
4  -0.000008 -1.570787  2.365502e+22  4.227433e-23
..       ...       ...           ...           ...
95 -0.000065 -1.570744  4.682858e+18  2.135448e-19
96 -0.000118 -1.570684  4.648959e+18  2.151019e-19
97 -0.000045 -1.570820  4.558370e+18  2.193767e-19
98 -0.000046 -1.570772  4.331475e+18  2.308683e-19
99  0.000273 -1.571066  4.311322e+18  2.319474e-19

[100 rows x 4 columns]

Generasi Terakhir
           x         y       Fitness  Nilai Fungsi
0   0.000015 -1.570781  1.398596e+23  7.150027e-24
1  -0.000014 -1.570782  1.036367e+23  9.649091e-24
2   0.000006 -1.570791  1.010781e+23  9.893337e-24
3  -0.000007 -1.570788  5.054426e+22  1.978464e-23
4  -0.000008 -1.570787  2.365502e+22  4.227433e-23
..       ...       ...           ...           ...
95 -0.000065 -1.570744  4.682858e+18  2.135448e-19
96 -0.000118 -1.570684  4.648959e+18  2.151019e-19
97 -0.000045 -1.570820  4.558370e+18  2.193767e-19
98 -0.000046 -1.570772  4.331475e+18  2.308683e-19
99  0.000273 -1.571066  4.311322e+18  2.319474e-19

[100 rows x 4 columns]